mat-toolbar{
  height: auto;
  justify-content: center;
  text-align: center;
  background-color: #583abc;
  color: white;
}
.navTitle{
  margin-top: 36px;
  margin-bottom: 18px;
}
.headerTitle{
  font-size: 32px;
}
.headerIcon{
  color: black;
  margin: 0 24px;
}
.headerInput{
  margin-bottom: 4px;
}
.searchForm{
  width: 100%;
  text-align: center;
}
mat-form-field{
  width:-webkit-fill-available ;
  background-color: #7961c9;
  height: 70px;
  border-radius: 5px;

}

::ng-deep .mat-form-field-underline {
  display: none;
}

