<div class="container" *ngIf="category" >
  <div class="row">
    <div class="mt-5">
      <p><a href="">Home Page</a> / {{category.name}}</p>
    </div>
    <div class="postDiv">
      <div>
        <img src="assets/icons/{{category.icon}}" width="50px" >
      </div>
      <div class="ms-2 mt-3">
        <h2>{{category.name}} ({{postNumber}}) </h2>
        <p>{{category.description!}} </p>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let posts of sortByDate">
 <app-post-card [posts]="posts"></app-post-card>
  </div>
</div>
<div class="container" *ngIf="!category">
  <div class="row">
    <div class="mt-5 d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
